:root {
  --bg-app: #09090b;
  --bg-nav: #050507;
  --bg-card: #121214;
  --bg-card-hover: #1c1c1f;
  --text-primary: #ffffff;
  --text-secondary: #94a3b8;
  --border-color: rgba(255, 255, 255, 0.05);
  --tint-color: #00d9ff;
  --tint-hover: #00b4d4;
  --scrollbar-thumb: #334155;
}

body.theme-dark {
  --bg-app: #09090b;
  --bg-nav: #050507;
  --bg-card: #121214;
  --bg-card-hover: #1c1c1f;
  --text-primary: #ffffff;
  --text-secondary: #94a3b8;
  --border-color: rgba(255, 255, 255, 0.05);
  --tint-color: #00d9ff;
  --tint-hover: #00b4d4;
  --scrollbar-thumb: #334155;
}
