:root {
  --bg-app: #fdfcf9;
  --bg-nav: #f8f7f3;
  --bg-card: #ffffff;
  --bg-card-hover: #f1f9fc;

  --text-primary: #0f172a;
  --text-secondary: #6b7280;

  --border-color: rgba(15, 23, 42, 0.06);

  --tint-color: #00d9ff;
  --tint-hover: #00bcd8;

  --scrollbar-thumb: #d6e4ea;
}

body.theme-light {
  --bg-app: #fdfcf9;
  --bg-nav: #f8f7f3;
  --bg-card: #ffffff;
  --bg-card-hover: #f1f9fc;

  --text-primary: #0f172a;
  --text-secondary: #6b7280;

  --border-color: rgba(15, 23, 42, 0.06);

  --tint-color: #00d9ff;
  --tint-hover: #00bcd8;

  --scrollbar-thumb: #d6e4ea;
}